@font-face {
    font-family: "RobotoRegular";
    src: url(./font/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    font-family: "RobotoRegular";
    color: #fff;
    font-size: 16px;
    background-color: rgba(249, 242, 232, 1);
}
.slider {
    position: relative;
}
  
.slider video {
    width: 100%;
    height: 100%;
    max-height: 800px;
    object-fit: cover;
}
.content {
    position: relative;
    display: flex;
    top: -50px;
    width: 100%;
    justify-content: space-evenly;
}
.section-1 {
    padding: 24px;
    background-color: rgba(249, 242, 232, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: "RobotoRegular";
    gap: 128px;
}
.section-1-container-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1000px;
    padding: 48px;
    flex-wrap: wrap;
}
.section-1-container-1 h1 {
    font-size: 29px;
}
.section-1-container-1 p {
    max-width: 445px;
}
.section-1-container-2-item {
    background-color: rgba(233, 223, 202, 1);
    width: 100%;
    max-width: 568px;
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.section-1-container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}
.section-1-container-2-item h1 {
    padding-left: 24px;
}
.section-1-container-2-group_button {
    display: flex;
    justify-content: right;
    gap: 8px;
}
.section-1-container-2-group_button button {
    border-radius: 0px;
    border: 1px solid #000; 
    padding: 14px;
    cursor: pointer;
}
.section-1-container-2-group_button button:nth-child(1) {
    background-color: rgba(233, 223, 202, 1);
    color: #000;
}
.section-1-container-2-group_button button:nth-child(2) {
    background-color: #000;
    color: #fff;
}
.section-2 {
    background-image: url(./img/IMAGE\ \(3\).png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 863px;
    max-height: 863px;
    display: flex;
    justify-content: center;
}
.section-2-container-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 959px;
    height: 800px;
    justify-content: center;
    gap: 24px;
    padding: 7px;
    font-family: "RobotoRegular";
    color: #fff;
    border-left: 1px solid rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1);
}
.section-2-container-1 h1 {
    font-size: 14px;
}
.section-2-container-1-1 {
    background-color: rgba(144, 160, 179, 1);
    padding-top: 18px;    
    display: flex;
    flex-direction: column;
    height: 585px;
    gap: 150px;
}
.title {
    font-size: 16px;
    max-width: 60px;
}
.section-2-group-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-2-container-1-1-group-text {
    width: 100%;
    max-width: 1000px;
    line-height: 36px;
}
.section-2-group-1 h2 {
    text-align: center;
    font-size: 64px;
}
.section-2-group-1 h3 {
    padding-right: 30%;
}
.group-1 {
    color: #000;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.section-2-container-1-nav {
    display: flex;
    gap: 4px;
    justify-content: right;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.section-2-container-1-1-group-img {
    padding-top: 65px;
    display: flex;
    justify-content: right;
    gap: 456px;
}
.section-2-container-1-1-group-img svg {
    cursor: pointer;
}
.section-2 hr {
    position: relative;
    height: 800px;
    align-self: center;
}
.slider_2 {
    position: relative;
    overflow: hidden;
  }
  .slide {
    display: none;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease;
  }
  .slide img {
    width: 100%;
    height: 100%;
    min-height: 500px;
    object-fit: cover;
    filter: grayscale(1);
  }
  .slide.active {
    display: block;
  }
  .slider_description {
    position: absolute;
    font-family: "RobotoRegular";
    color: red;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 45px;
  }
  .section-3 {
    background-color: rgba(249, 242, 232, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .section-4 {
    background-color: rgba(249, 242, 232, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .section-4 img {
    width: 100%;
    max-width: 592px;
  }
  .section-4-container-1 {
    display: flex;
    flex-direction: column;
    gap: 55px;
    font-family: "RobotoRegular";
    color: #000;
  }
  .section-4-container-1 h1 {
    font-size: 44px;
  }
  .section-4-container-1-item p {
    font-size: 14px;
  }
  .section-4-container-1-item h2 {
    font-size: 21px;
  }
  .section-4 button {
    background: #000;
    border-radius: 0;
    padding: 24px;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 50%;
  }
  .section-4-container-1-wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-5 {
    background-image: url(./img/IMAGE\ \(5\).png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: "RobotoRegular";
  }
  .section-5-wrap {
    display: flex;
    padding: 50px 0px 50px 0px;
    width: 100%;
    justify-content: space-between;
    max-width: 1100px;
    align-items: center;
    user-select: none;
  }
  .section-5_group-1 {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
  }
  .section-5_group-1 h1 {
    max-width: 370px;
    font-size: 24px;
  }
  .section-5-wrap svg {
    cursor: pointer;
  }
  .section-5-wrap input {
    padding: 24px;
    font-size: 14px;
    background-color: inherit;
    border: none;
    outline: none;
  }
  .footer {
    padding: 58px;
    background-color: rgba(161, 88, 66, 1);
    font-family: "RobotoRegular";
    color: #fff;
  }
  .footer_container_wrap {
    display: flex;
    flex-direction: column;
    gap: 116px;
  }
  .footer_container_1 {
    width: 70%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
  }
  .footer_container_1_column {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .column_group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .footer_container_1_column h1 {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
  }
  .footer_container_1_column p, .footer_container_1_column svg {
    font-size: 14px;
    cursor: pointer;
    user-select: none;
  }
  .footer_container_2 {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 16px;
  }
  .footer_container_2 img {
    cursor: pointer;
  }
  .footer_container_3 {
    width: 70%;
    justify-content: space-between;
    display: flex;
  }
  @media (max-width:800px) {
    .section-1-container-1 {
      justify-content: center;
      text-align: center;
    }
    .section-4 button {
      width: 100%;
    }
    .section-4-container-1-wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .section-4 {
      gap: 42px;
    }
    .section-4 img {
      max-width: 100%;
    }
    .section-5_group-1 {
      text-align: center;
      flex-direction: column;
  }
  .section-5-wrap {
    flex-direction: column;
  }
  .footer_container_1 {
    flex-direction: column;
    gap: 72px;
  }
  .footer_container_3 {
    flex-direction: column;
    gap: 20px;
  }
}